@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.Conf {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(20, 22, 28, 0.75)), url(../images/ba1.jpg);
  background-size: cover;
  height: 25rem;
  width: -webkit-fill-available;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: end;
  padding-right: 4rem;
  background-position: center;
  padding-bottom: 8rem;
}
.Conf div {
  display: flex;
  flex-direction: column;
  color: white;
  width: 32rem;
  align-items: end;
  text-align: end;
}
.Conf .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
.Conf .buttons button {
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  border-radius: 0.2rem;
}
.Conf .buttons .btnTransparent {
  color: white;
  background-color: transparent;
  border: 1px white solid;
  margin-right: 1rem;
}
.Conf .buttons .btnTransparent:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}
.Conf .buttons .btnGreen {
  background-color: hsl(132.86, 60.58%, 40.78%);
  border: 1px solid hsl(132.86, 60.58%, 40.78%);
  color: white;
}
.Conf .buttons .btnGreen:hover {
  cursor: pointer;
  color: hsl(132.86, 60.58%, 40.78%);
  background-color: white;
}

#tituloOradores, #nuevoOrador {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 2rem;
}
#tituloOradores b, #nuevoOrador b {
  font-size: 3rem;
}
#tituloOradores:hover, #nuevoOrador:hover {
  text-decoration: underline;
}

.oradores {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
}
.oradores .container {
  width: 12rem;
  border: 1px solid gray;
  border-radius: 10px;
}
.oradores .container img {
  width: -webkit-fill-available;
  border-radius: 10px 10px 0px 0px;
}
.oradores .container .materias {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
  font-size: 10px;
}
.oradores .container .materias h3 {
  background-color: rgba(128, 128, 128, 0.616);
  padding: 2px;
  border-radius: 2px;
}
.oradores .container .nombre {
  margin: 1rem;
  text-align: center;
}
.oradores .container .descripcion {
  font-size: 10px;
  text-align: justify;
  padding: 0px 10px 10px;
}

.honolulu {
  display: flex;
  width: -webkit-fill-available;
  height: 25rem;
  background: radial-gradient(hsl(210, 3.77%, 58.43%), #2f2e2d);
}
.honolulu img {
  width: 50%;
}
.honolulu .honoluluInfo {
  color: white;
  text-align: justify;
  padding: 2rem;
}
.honolulu .honoluluInfo h3, .honolulu .honoluluInfo p {
  padding-bottom: 1rem;
}
.honolulu .honoluluInfo button {
  background-color: transparent;
  border: 1 px solid white;
  color: white;
  padding: 2px;
  border-radius: 5px;
}
.honolulu .honoluluInfo button:hover {
  cursor: pointer;
  background-color: black;
}

.prevForm {
  text-align: center;
}

.formOrador {
  margin: 1rem 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.formOrador .input {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 1rem;
}
.formOrador .input input {
  padding: 10px;
}
.formOrador textarea {
  padding: 10px;
  width: 70%;
  height: 5rem;
}
.formOrador .btnEnviar {
  margin: 1rem;
  padding: 10px;
  color: white;
  background-color: #2f2e2d;
  border-radius: 2px;
}
.formOrador .btnEnviar:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

@media (min-width: 400px) and (max-width: 650px) {
  .oradores {
    flex-direction: column;
    width: -webkit-fill-available;
    border-radius: 10px;
    align-items: center;
  }
  .oradores .container {
    width: 20rem;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 2rem;
    padding: 1rem;
  }
  .oradores .container .descripcion {
    font-size: 15px;
  }
  .Conf {
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(20, 22, 28, 0.75)), url(../images/ba1.jpg);
    background-size: cover;
    height: 23rem;
    width: -webkit-fill-available;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    padding: 0;
  }
  .Conf div {
    display: flex;
    flex-direction: column;
    color: white;
    width: 16rem;
    align-items: initial;
    text-align: center;
  }
  .Conf .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }
  .Conf .buttons button {
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    border-radius: 0.2rem;
  }
  .Conf .buttons .btnTransparent {
    color: white;
    background-color: transparent;
    border: 1px white solid;
    margin-right: 1rem;
  }
  .Conf .buttons .btnTransparent:hover {
    cursor: pointer;
    color: black;
    background-color: white;
  }
  .Conf .buttons .btnGreen {
    background-color: hsl(132.86, 60.58%, 40.78%);
    border: 1px solid hsl(132.86, 60.58%, 40.78%);
    color: white;
  }
  .Conf .buttons .btnGreen:hover {
    cursor: pointer;
    color: hsl(132.86, 60.58%, 40.78%);
    background-color: white;
  }
  .honolulu {
    display: flex;
    width: -webkit-fill-available;
    height: 42rem;
    background: radial-gradient(hsl(210, 3.77%, 58.43%), #2f2e2d);
    flex-direction: column;
  }
  .honolulu img {
    width: 100%;
  }
}
#sectionOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(20, 22, 28, 0.75)), url(../images/BIGDATA.jpg);
  background-size: cover;
  width: 100%;
  height: 30rem;
  color: white;
}
#sectionOne h2 {
  padding: 1rem;
  font-size: 3rem;
}
#sectionOne .conferencia {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  font-size: 1rem;
  align-items: center;
  justify-content: space-around;
}
#sectionOne .conferencia img {
  width: 300px;
  height: 224px;
}
#sectionOne .conferencia p {
  margin: 10px;
  text-align: center;
}

#temasATratar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  text-transform: uppercase;
  background-color: rgb(44, 42, 42);
  color: #fff;
}

.sectionTwo {
  background-color: rgba(44, 42, 42, 0.58);
}
.sectionTwo .titulo-tema {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  justify-content: center;
  margin-bottom: 1rem;
  color: white;
}
.sectionTwo .titulo-tema h4 {
  border-radius: 5px;
  background-color: black;
  padding: 5px;
}
.sectionTwo .container-tema {
  text-align: center;
  font-style: italic;
  text-transform: uppercase;
}
.sectionTwo .container-tema .tema {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20rem;
  text-transform: initial;
  text-align: justify;
}
.sectionTwo .container-tema .tema img {
  float: left;
  margin: 0 1rem;
  height: 150px;
  width: auto;
  border-radius: 10px;
}
.sectionTwo .container-tema .tema p {
  text-align: start;
  letter-spacing: 2px;
}

.lugar {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.lugar #carouselx {
  width: 50%;
  background-color: black;
  padding: 1rem;
}
.lugar #carouselx #carouselExampleCaptions {
  width: auto;
  height: 20rem;
}
.lugar #carouselx #carouselExampleCaptions .carousel-inner {
  height: 20rem;
}
.lugar #lugarYFecha {
  width: 50%;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.containerCategory {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  justify-content: center;
}
.containerCategory .category {
  display: flex;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  height: 10rem;
  justify-content: space-around;
  margin: 10px;
  border-radius: 10%;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: floralwhite;
}

.venta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.containerDatos {
  margin: 3rem;
}
.containerDatos .datos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerDatos .datos input {
  margin: 1rem;
  height: 30px;
  border-radius: 5px;
}
.containerDatos .correo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerDatos .correo input {
  width: 352px;
  height: 30px;
  border-radius: 5px;
}

.containerCompra, .total {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.containerCompra input, .containerCompra select, .total input, .total select {
  margin: 1rem;
  height: 30px;
  border-radius: 5px;
}

.total input {
  background-color: #cce5ff;
}

.btnHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  background-color: #000000;
}
.btnHeader img {
  margin-right: 1rem;
  height: 4rem;
  width: auto;
}
.btnHeader p {
  color: black;
  font-size: 1.3rem;
  letter-spacing: 20px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px yellow, 0 0 1em blue, 0 0 0.2em blue;
}
.btnHeader .button {
  display: none;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: hsl(212.73, 9.4%, 22.94%);
  width: -webkit-fill-available;
  height: 5rem;
  align-items: center;
  justify-content: space-around;
  padding: 0 4rem;
}
nav .button {
  display: none;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
nav li {
  margin-right: 1rem;
}
nav a {
  color: hsl(210, 3.77%, 58.43%);
  text-decoration: none;
}
nav a:hover {
  color: white;
}

.navTitle {
  display: flex;
  align-items: center;
}
.navTitle img {
  margin-right: 1rem;
  height: 4rem;
  width: auto;
}
.navTitle p {
  color: white;
  font-size: 1.3rem;
}

.linkComprar {
  color: hsl(134, 52%, 37%);
}
.linkComprar:hover {
  cursor: pointer;
  color: hsl(134.23, 100%, 30.71%);
  text-shadow: rgba(255, 255, 255, 0.664) 0px 0px 5px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  background: radial-gradient(hsl(210, 3.77%, 58.43%), #2f2e2d);
}
footer a {
  color: black;
  text-decoration: none;
}
footer a:hover {
  color: white;
}

@media (min-width: 400px) and (max-width: 650px) {
  header {
    background: black;
  }
  header .btnHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header .btnHeader img {
    margin-right: 1rem;
    height: 4rem;
    width: auto;
  }
  header .btnHeader p {
    display: none;
  }
  header .btnHeader .button {
    display: block;
    cursor: pointer;
    background-color: darkgray;
    border-radius: 20%;
    box-shadow: 0.1px 0px 1px 1px white;
  }
  header .nav {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    display: flex;
    flex-wrap: column nowrap;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
  header .nav.activo {
    height: auto;
    pointer-events: auto;
    width: auto;
  }
  header ul {
    flex-direction: column;
  }
  header li {
    margin: 1rem 0;
  }
  header a {
    text-decoration: none;
    color: white;
  }
  header .linkComprar {
    color: hsl(134, 100%, 52%);
  }
}/*# sourceMappingURL=main.css.map */